<ul class="menu">
  <li><a [routerLink]="['/login']">登入</a></li>
  <li><a [routerLink]="['/main']">主頁面</a></li>
  <li><a [routerLink]="['/form']">表單練習</a></li>
  <li><a [routerLink]="['/person']">API 操作</a></li>
  <li><a [routerLink]="['/list']">列表操作</a></li>
  <li><a [routerLink]="['/validatorForm']">表單驗證</a></li>
</ul>
<router-outlet></router-outlet>
